<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="text-center">

  </div>
  <h2>Top News: </h2>
  <div class="row">


    <app-news-list class="col-sm-12" [domain]="'washingtonpost.com,bbc.com,foxnews.com'" style="background-color:#0000ff12;"></app-news-list>
    <!-- <app-news-list class="col-sm-4" [domain]="'bbc.com'"></app-news-list>
    <app-news-list class="col-sm-4" [domain]="''" style="background-color:#ff000014;"></app-news-list> -->
  </div>
</div>