<div *ngFor="let item of newsListItemArr" class="row">
  <div class="col-sm-12">


  
    <ul class="list-unstyled">
      <li>

        <div class="col-12">

          <a href="{{item.url }}">
            <h2> {{item.title }}</h2>
          </a> 
          <h3>{{item.source.name}}</h3>
          <div class="">
            <div class="">
              <img *ngIf="item.urlToImage != ''" class="img-thumbnail float-left" src="{{item.urlToImage }}" />
            </div>

            <div class="">
              {{item.content }} <br />
              <!-- {{item.description }} <br /> -->
              <small><b>{{item.publishedAt }}</b>
                {{item.author }}
              </small>
            </div>
          </div>

        </div>

      </li>
    </ul>
  </div>
</div>